%h1= @bookmark.title
%ul
  %li
    Original URL:
    = link_to @bookmark.url, @bookmark.url
  %li
    Short URL:
    = link_to @bookmark.short_url, @bookmark.short_url
  %li
    Tags:
    = show_detail @bookmark.tag_list
  %li
    Keywords:
    = show_detail @bookmark.keywords
  %li
    Description:
    = show_detail @bookmark.description
